<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./web3/web3.min.js"></script>
    <%
       let users=[1,2,3]
    %>       
</head>

<body>
    <div > 
        <button type="submit" id="connectMM">Connect Meta Mask</button>   
        <h4 id="address"></h4>   
    </div>   
    <br>
    <br>
    <h3>Enroll into Block Chain</h3>
    <form action="" method="post" >
        <table>
            <tr>
                <td>Name :</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Sdt :</td>
                <td><input type="text" name="sdt"></td>
            </tr>
            <tr>
                <td>Age :</td>
                <td><input type="text" name="age"></td>
            </tr>
        </table>
        <input type="submit" value="Enroll">
    </form> 
    <br>
    <br>
    <% if(users){ %>
        <table  style="border: 1px solid black" >
            <tr>
                <td>Adress wallet</td>
                <td>Name</td>
                <td>Sdt</td>
                <td>Age</td>
                <td>Date</td>
            </tr>
            <% for (const item of users) {%>
                  <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                      <td>4</td>
                      <td>5</td>
                  </tr>
                <%}%>
        </table>
        <%}%>
<script src="./home.js"></script>        
</body>

</html>